{
    "presets": [
        "next/babel"
    ],
    "plugins": [
    "superjson-next" // this allows to pass Date to getStaticProps etc, see https://github.com/prisma/prisma/discussions/4428 for more details
    ]
}